#' @title Drop rows
#' @description
#' Drops rows matching a condition.
#' @param domain `character` Name of new domain being created
#' @type row
#' @origin Derived
#' @method Rows dropped for a fixed test category
#' @depends {{{domain}}} LBTEST
#' @outputs LBTEST
#' @code
{{{domain}}} <- {{{domain}}} |>
  dplyr::filter(LBTEST != "Microcytes")
