## {{id}}: {{title}}
*type: {{type}}*
{{#origin}}
*origin: {{origin}}*
{{/origin}}
{{#method}}
*method: {{method}}*
{{/method}}

{{description}}

### Parameters

{{#params}}
{{.}}
{{/params}}

### Depends

{{#depends}}
{{.}}
{{/depends}}

### Outputs

{{#outputs}}
* {{.}}
{{/outputs}}

### Code

```r
{{#code}}
{{{.}}}
{{/code}}
```
