#' @title Analysis relative day
#' @description
#' Derives the relative day compared to the treatment start date.
#'
#' @param domain `character` Name of new domain being created
#' @param variable `character` Name of new variable to create
#' @param date `character` Name of date variable to use
#' @type derivation
#' @depends {{domain}} {{date}}
#' @depends {{domain}} TRTSDT
#' @outputs {{variable}}
#' @code
{{domain}} <- {{domain}} |>
  dplyr::mutate(
    {{variable}} = admiral::compute_duration(
      start_date = TRTSDT,
      end_date = {{date}},
      in_unit = "days",
      out_unit = "days",
      add_one = TRUE
    )
  )
