#' @title Assign
#' @description
#' Assigns a single value to an entire column.
#'
#' @param variable `character` Name of variable to create or modify
#' @param value Value to assign to the variable
#' @type assigned
#' @outputs {{variable}}
#' @code
.self <- .self |>
  dplyr::mutate(
    {{variable}} = {{{value}}}
  )
