#' @title Analysis start date
#' @description
#' Derives analysis start date based on (incomplete) dates given as
#' character
#'
#' @param domain `character` Name of new domain being created
#' @param dtc `character` Name of date variable
#' @type derivation
#' @depends {{domain}} {{dtc}}
#' @outputs ASTDT
#' @outputs ASTDTF
#' @code
{{domain}} <- {{domain}} |>
  dplyr::mutate(
    ASTDT = admiral::convert_dtc_to_dt(
      dtc = {{dtc}},
      highest_imputation = "M",
      date_imputation = "first"
    ),
    ASTDTF = admiral::compute_dtf(
      dtc = {{dtc}},
      dt = ASTDT
    )
  )
