# Analysis start date

.self <- .self |>
  dplyr::mutate(
    ASTDT = admiral::convert_dtc_to_dt(
      dtc = {{ dtc }},
      highest_imputation = "M",
      date_imputation = "first"
    ),
    ASTDTF = admiral::compute_dtf(
      dtc = {{ dtc }},
      dt = ASTDT
    )
  )
