#' Predecessor
#' @description
#' Creates new column(s) based on a predecessor column(s).
#'
#' @param source `character` Name of the data set the predecessor is from
#' @param variable `character` Name of variable(s) to use from `source`
#' @param by `character` name(s) of variable(s) to merge by
#' @type predecessor
#' @depends .self {{ by }}
#' @depends {{ source }} {{ by }}
#' @depends {{ source }} {{ variable }}
#' @outputs {{ variable }}

.self <- .self |>
  dplyr::left_join(
    y = dplyr::select({{ source }}, {{ by }}, {{ variable }}),
    by = "{{ by }}"
  )
