#' @title Predecessor
#' @description
#' Creates new column(s) based on a predecessor column(s).
#'
#' @param domain `character` Name of new domain being created
#' @param source `character` Name of the data set the predecessor is from
#' @param variable `character` Name of variable(s) to use from `source`
#' @param by `character` name(s) of variable(s) to merge by
#' @type predecessor
{{#by}}
#' @depends {{domain}} {{.}}
#' @depends {{source}} {{.}}
{{/by}}
{{#variable}}
#' @depends {{source}} {{.}}
#' @outputs {{.}}
{{/variable}}
#' @code
{{domain}} <- {{domain}} |>
  dplyr::left_join(
    y = dplyr::select({{source}}, {{by}}, {{variable}}),
    by = dplyr::join_by({{by}})
  )
