#' Add Supplementary Variable from SDTM
#' @description
#' Add a variable from a supplementary SDTM domain.
#'
#' @param source `character` Name of the supplementary data set to use
#' @param qnam `character` Name of qualifier to add from `source`
#' @type predecessor
#' @depends .self USUBJID
#' @depends {{ source }} USUBJID
#' @depends {{ source }} IDVAR
#' @depends {{ source }} IDVARVAL
#' @depends {{ source }} QNAM
#' @depends {{ source }} QVAL
#' @outputs {{ qnam }}

supp_data <- {{ source }} |>
  dplyr::select(USUBJID, IDVAR, IDVARVAL, QNAM, QVAL) |>
  dplyr::filter(QNAM == "{{ qnam }}") |>
  tidyr::pivot_wider(names_from = QNAM, values_from = QVAL)

idvar <- unique(supp_data$IDVAR)
idclass <- class(.self[[idvar]])

supp_data[["IDVARVAL"]] <- do.call(
  what = get(paste0("as.", idclass)),
  args = list(supp_data$IDVARVAL)
)

.self <- .self |>
  dplyr::left_join(
    supp_data |> dplyr::select(-IDVAR),
    by = c("USUBJID", stats::setNames("IDVARVAL", idvar))
  )
