#' @title Treatment-emergent flag
#' @description
#' Derives treatment emergent analysis flag.
#'
#' @param domain `character` Name of new domain being created
#' @param end_window Passed along to `admiral::end_window()`
#' @type derivation
#' @depends {{domain}} ASTDT
#' @depends {{domain}} AENDT
#' @depends {{domain}} TRTSDT
#' @depends {{domain}} TRTEDT
#' @outputs TRTEMFL
#' @code
{{domain}} <- {{domain}} |>
  admiral::derive_var_trtemfl(
    start_date = ASTDT,
    end_date = AENDT,
    trt_start_date = TRTSDT,
    trt_end_date = TRTEDT,
    end_window = {{end_window}}
  )
